
@section Scripts{    
    <script src="~/Scripts/swtychina.js"></script>
}
@{
    ViewBag.Title = "山外天园";
    Layout = "~/Views/Shared/_LayoutSwtychian.cshtml";
}

<div class="container mccBorder">
    <div class="row">
        <div class="col-sm-4">
            <h4 class="mccTitle">归档节目</h4>
            <div class="mcc-current-year">
                <strong><span>选择节目年份：</span></strong>

                <div class="btn-group">
                    <button id="currentyear" type="button" class="btn btn-primary">2018年</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">切换下拉菜单</span>
                    </button>
                    <ul id="allyear" class="dropdown-menu" role="menu">
                        <li><a id="otheryear">2007年</a></li>
                        <li><a id="otheryear">2008年</a></li>
                        <li><a id="otheryear">2009年</a></li>
                        <li><a id="otheryear">2010年</a></li>
                        <li><a id="otheryear">2011年</a></li>
                        <li><a id="otheryear">2012年</a></li>
                        <li><a id="otheryear">2013年</a></li>
                        <li><a id="otheryear">2014年</a></li>
                        <li><a id="otheryear">2015年</a></li>
                        <li><a id="otheryear">2016年</a></li>
                        <li><a id="otheryear">2017年</a></li>
                        <li><a id="otheryear">2018年</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading mccPanelHeading">
                        <h4 class="panel-title">
                            <a id="itemsNavigationYear" data-toggle="collapse" data-parent="#accordion" href="#collapseyear" class="mccYear">
                                2018年
                            </a>
                        </h4>
                    </div>
                    <div id="collapseyear" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-3">
                                    <a id="1" href="javascript:void(0)" class="mccMonth" onclick="getSwtyItemsData('date=2018-01')">201801</a>
                                </div>
                                <div class="col-xs-3">
                                    <a id="2" href="javascript:void(0)" class="mccMonth" onclick="getSwtyItemsData('date=2018-02')">201802</a>
                                </div>
                                <div class="col-xs-3">
                                    <a id="3" href="javascript:void(0)" class="mccMonth" onclick="getSwtyItemsData('date=2018-03')">201803</a>
                                </div>
                                <div class="col-xs-3">
                                    <a id="4" href="javascript:void(0)" class="mccMonth" onclick="getSwtyItemsData('date=2018-04')">201804</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <a id="5" href="javascript:void(0)" class="mccMonth" onclick="getSwtyItemsData('date=2018-05')">201805</a>
                                </div>
                                <div class="col-xs-3">
                                    <a id="6" href="javascript:void(0)" class="mccMonth" onclick="getSwtyItemsData('date=2018-06')">201806</a>
                                </div>
                                <div class="col-xs-3">
                                    <a id="7" href="javascript:void(0)" class="mccMonth" onclick="getSwtyItemsData('date=2018-07')">201807</a>
                                </div>
                                <div class="col-xs-3">
                                    <a id="8" href="javascript:void(0)" class="mccMonth" onclick="getSwtyItemsData('date=2018-08')">201808</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <a id="9" href="javascript:void(0)" class="mccMonth" onclick="getSwtyItemsData('date=2018-09')">201809</a>
                                </div>
                                <div class="col-xs-3">
                                    <a id="10" href="javascript:void(0)" class="mccMonth" onclick="getSwtyItemsData('date=2018-10')">201810</a>
                                </div>
                                <div class="col-xs-3">
                                    <a id="11" href="javascript:void(0)" class="mccMonth" onclick="getSwtyItemsData('date=2018-11')">201811</a>
                                </div>
                                <div class="col-xs-3">
                                    <a id="12" href="javascript:void(0)" class="mccMonth" onclick="getSwtyItemsData('date=2018-12')">201812</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>               

            </div>

        </div>

        <div class="col-sm-8">
            <div class="row">
                <h4 class="mccTitle">节目列表</h4>
            </div>

            <div class="row" style="padding-left:11px;">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-5 col-xs-8">
                            <input type="text" class="form-control" id="itemname" placeholder="请输入搜索的节目">
                        </div>
                        <p class="col-sm-1 col-xs-2 btn btn-primary" onclick="searchItem()">搜索</p>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-sm-2 col-xs-6"><strong>节目时间</strong></div>
                <div class="col-sm-1 col-xs-3" style="padding-left:2px;"><strong>收听</strong></div>
                <div class="col-sm-1 col-xs-3" style="padding-left:2px;"><strong>下载</strong></div>
                <div class="col-sm-5 col-xs-12 text-center"><strong>内容摘要</strong></div>
            </div>
            <div class="row"> <hr style="margin-bottom:5px;margin-top:2px;" /></div>

            @* loading *@
            <div class="spinner">
                <div class="spinner-container container1">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container2">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
                <div class="spinner-container container3">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                    <div class="circle4"></div>
                </div>
            </div>
            @* loading end *@


            <div class="">
                <div id="ProgramList" class="mccdiv">

                </div>
            </div>

        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom mccPlayerbackground">
        <div class="container">
            <div id="audio_container" class="">
                <div>
                    <audio id="player" data-id="0" data-order="forward" style="width:100%;margin-top:10px;" controls="" src=""></audio>
                </div>
                <p id="player_title" style="color:#ffffff;">当前节目的内容摘要 </p>

            </div>
        </div>
    </nav>

</div>