@{
    ViewBag.Title = "关于我们";
}

<h2>@ViewBag.Title</h2>

<div class="jumbotron">
    <h2>团契介绍</h2>
    <p class="lead">生命之光教会，笃信圣经的基督教会。不属于任何宗派，以九十九只羊同工为服侍骨干。盼望能对西华大学，电子科技大学，西南交通大学等处的学生传福音，鼓励信徒献身服侍(不采牧师会众制)，学做主仆，并且在生活中有属主的实际。</p>    
</div>