@{
    ViewBag.Title = "联系我们";
}
<h2>@ViewBag.Title</h2>
<address>
    联系人：杨慕恩<br />
    电　话：18782460725<br />
    邮　箱：<a href="mailto:bugyang_ces@qq.com">bugyang_ces@qq.com</a><br />
    地　址：四川省成都市郫县红光镇天邑宏御花园御园10-2-1802<br />    
</address>

